@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* supports full weight range */
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #000000;
  --gray: #222222;
  --green: #1dcd9f;
  --white: #fafafa;
}

body {
  background-color: var(--gray);
  font-family: "Inter", sans-serif;
  margin: 0;
}

#titlesDiv {
  text-align: center;
  margin-top: 3rem;
}

#titlesDiv h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--green);
  margin: 0;
  line-height: 0.8;
}

#titlesDiv h1:last-child {
  color: var(--white);
}

#imgSectionContainer {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

#imgSectionContainer > img {
  position: absolute;
  width: 300px;
  z-index: 1;
}

#socialsContainer {
  position: absolute;
  top: 200px;
  z-index: 2;
  width: 350px;
  height: 50px;
  background-color: var(--green);
  transform: rotate(10deg);
  outline: 2px solid var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#socialsContainer a img {
  width: 30px;
  display: block;
}

#ageContainer {
  position: absolute;
  top: 95px;
  z-index: -4;
  width: 370px;
  height: 50px;
  background-color: var(--green);
  transform: rotate(-10deg);
  outline: 2px solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ageContainer h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--white);
  margin: 15px;
}

#cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#cardsContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 267px;
  background-color: var(--green);
  margin-bottom: 1rem;
  outline: 2px solid var(--black);
}

#cardsContainer a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#cardsContainer h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
}

@media (max-width: 380px) {
  #imgSectionContainer img {
    width: 250px;
  }
  #socialsContainer {
    top: 170px;
    width: 300px;
    height: 40px;
  }

  #socialsContainer a img {
    width: 25px;
  }

  #ageContainer {
    top: 85px;
    width: 320px;
    height: 40px;
  }
  #cardsContainer div {
    width: 220px;
  }
  #imgSectionContainer {
    height: 250px;
  }
}
